@page "/"
@page "/dashboard"


  <div class="row">
        <div class="col-md-12">
            <h3 class="description">Your content here</h3>
        </div>
    </div>

@code {
    public string PageTitle => "Dashboard";

    
}
