@page "/"
@page "/dashboard"

@using Persistence.Models
@using Services

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Top articles</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            Title
                        </th>
                        <th>
                            Id
                        </th>
                        <th>
                            Content Brief
                        </th>
                        <th class="text-right">
                            Tags
                        </th>
                        </thead>
                        <tbody>
                            @foreach (var article in Articles)
                            {
                                <tr>
                                    <td>
                                        @article.Title
                                    </td>
                                    <td>
                                        @article.UniqueId
                                    </td>
                                    <td>
                                        @article.ContentBrief
                                    </td>
                                    <td class="text-right">
                                        @(article.Tags == null ? "" : string.Join(",", article.Tags))
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Inject]
    public IArticleService ArticleService { get; set; }

    public IEnumerable<Article> Articles { get; set; } = new List<Article>();

    protected override async Task OnInitializedAsync()
    {
        Articles = await ArticleService.GetAllArticles();
        await base.OnInitializedAsync();
    }

}
